.cd-dropdown,
.cd-select {
	width: 300px;
	margin: 0;
	display: inline-block;
}

.cd-dropdown > span {
	width: 240px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	display: block;
	padding-right: 40px;
	position: relative;
	cursor: pointer;
    overflow-y: hidden;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	left: 240px;
	top: 0;
	width: 23px;
	text-align: center;
	font-size: 10px;
	padding: 8px;
	height: 24px;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	height: 400px;
	max-height: 400px;
	width: 280px;
	overflow-y: scroll;
}

.cd-dropdown.cd-active ul {
	z-index: 5000;
	box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

.cd-dropdown ul li {
	display: block;
	margin-top: 0;
	width: 240px;
	padding: 10px 20px;
	background: #fff;
	cursor: pointer;
}

.cd-dropdown ul li span {
	word-wrap: break-word;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

@media 	only screen 
		and (max-width : 480px)
		and (orientation : portrait) {
			
		#wpfc_sermon_sorting > span { margin-bottom: 20px }
		.cd-dropdown > span {
			width: 300px;
			padding-right: 0px;
		}
		.cd-dropdown > span:after {
			left: 260px;
		}
		
		.cd-dropdown ul {
			margin-left: -150px;
			left: 50%;
			top: inherit !important;
		}
/*
		.cd-dropdown ul li span { padding: 0 30px }
			
*/
}