.cd-dropdown ul {
	position: absolute;
	top: 80px;
	display: none;
}

.cd-active.cd-dropdown ul li {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li:hover {
	background-color: #e5e5e5;
}