#map_canvas {
/* 	margin-top: 50px; */
	width: 100%;
	height: 500px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadowq: none;
}

.map-overlay {
	font-family: 'Lato', sans-serif;
	color: #585555;
	font-size: 12pt;
}

.map-overlay a.map-link {
/* 	font-family: 'Futura-PT', sans-serif; */
	color: #585555;
	font-size: 22pt;
	display: block;
	text-decoration: none;
}