/*
Theme Name: The Summit Church Child
Description: A child theme of The Summit Church Theme
Author: The Summit Church
Version: 1.0
Template: the-summit-church
*/

/*
	- Global
	- Header
		- Logos
		- Side Menu Button
		- Fullscreen Search
		- Fullscreen Close Buttons
		- Fullscreen Menu
		- Fullscreen Section
	- Homepage
	- Homepage - Slider
	- Homepage - Masonry Gallery
	- Homepage - Portfolio Masonry Gallery
	- Homepage - Latest Message
	- Homepage - Summit Story
	- Homepage - Blog Posts HungryFEED
	- Interior Pages
	- Interior Pages - Sidebar
	- Interior Pages - Subnav
	- Interior Pages - Tertiary Subnav
	- Interior Pages - Starting Point
	- Interior Pages - Serve
	- Interior Pages - Missions
	- Interior Pages - Times & Locations
	- Interior Pages - Individual Campus Pages
	- Interior Pages - Leadership
	- Interior Pages - Pastor J.D.
	- Interior Pages - College
	- Interior Pages - Students
	- Interior Pages - Bible
	- Interior Pages - Books & Curriculum
	- Interior Pages - Short-Term Trips
	- Interior Pages - Jobs
	- Interior Pages - Stories
	- Interior Pages - Stewardship Blog
	- Interior Pages - Multiply
	- Messages Series Page
	- Messages Single Page
	- Messages Archive
	- Footer
	- Relevanssi Search
	- RefTagger Plugin (Bible Verses)
	- Form Fields and Inputs
	- Custom Grid Loader
	- Parallax Effects
	- Static Dividers
	- Media Queries
*/

@font-face {
    font-family: 'alegreya_bold';
    src: url('fonts/alegreya/alegreya-bold-webfont-webfont.eot');
    src: url('fonts/alegreya/alegreya-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alegreya/alegreya-bold-webfont-webfont.woff2') format('woff2'),
         url('fonts/alegreya/alegreya-bold-webfont-webfont.woff') format('woff'),
         url('fonts/alegreya/alegreya-bold-webfont-webfont.ttf') format('truetype'),
         url('fonts/alegreya/alegreya-bold-webfont-webfont.svg#alegreya_bold') format('svg');
    font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'alegreya_bold_italic';
    src: url('fonts/alegreya/alegreya-bolditalic-webfont-webfont.eot');
    src: url('fonts/alegreya/alegreya-bolditalic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alegreya/alegreya-bolditalic-webfont-webfont.woff2') format('woff2'),
         url('fonts/alegreya/alegreya-bolditalic-webfont-webfont.woff') format('woff'),
         url('fonts/alegreya/alegreya-bolditalic-webfont-webfont.ttf') format('truetype'),
         url('fonts/alegreya/alegreya-bolditalic-webfont-webfont.svg#alegreya_bold_italic') format('svg');
    font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'lato_regular';
    src: url('fonts/lato/lato-regular-webfont-webfont.eot');
    src: url('fonts/lato/lato-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato/lato-regular-webfont-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-regular-webfont-webfont.woff') format('woff'),
         url('fonts/lato/lato-regular-webfont-webfont.ttf') format('truetype'),
         url('fonts/lato/lato-regular-webfont-webfont.svg#lato_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_regular';
    src: url('fonts/open-sans/open-sans-regular-webfont-webfont.eot');
    src: url('fonts/open-sans/open-sans-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans/open-sans-regular-webfont-webfont.woff2') format('woff2'),
         url('fonts/open-sans/open-sans-regular-webfont-webfont.woff') format('woff'),
         url('fonts/open-sans/open-sans-regular-webfont-webfont.ttf') format('truetype'),
         url('fonts/open-sans/open-sans-regular-webfont-webfont.svg#open_sans_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_italic';
    src: url('fonts/open-sans/open-sans-italic-webfont-webfont.eot');
    src: url('fonts/open-sans/open-sans-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans/open-sans-italic-webfont-webfont.woff2') format('woff2'),
         url('fonts/open-sans/open-sans-italic-webfont-webfont.woff') format('woff'),
         url('fonts/open-sans/open-sans-italic-webfont-webfont.ttf') format('truetype'),
         url('fonts/open-sans/open-sans-italic-webfont-webfont.svg#open_sans_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'open_sans_regular', sans-serif; font-style: normal; font-weight: normal; }
h1, h1 a, .title.title_size_large h1 { font-family: 'alegreya_bold_italic', serif; font-style: normal; font-weight: normal; }
h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a { font-family: 'alegreya_bold', serif; font-style: normal; font-weight: normal; }
h6, h6 a { font-family: 'lato_regular', sans-serif; font-style: normal; font-weight: normal; }

/* Global
============================================ */

body { opacity: 0 }

/* Qode Suggested Fix for Side Area Nav not showing in Chrome */
/* Source: https://qode.ticksy.com/ticket/319548 */

.side_menu { right: 0 !important; }

h1, h2, h3, h4, h5, h6, p, ol, ul { margin-bottom: 40px }
h6 { margin-bottom: 0 } /* Section Header */
ol, ul { margin-left: 60px }
li { margin-top: 20px }

.aligncenter { text-align: center }
.notopmargin { margin-top: 0px !important }
.nobottommargin { margin-bottom: 0px !important }
.nomargin h1, .nomargin h2, .nomargin h3, .nomargin h4, .nomargin h5, .nomargin h6, .nomargin p {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

:focus { outline: none !important }

.qbutton {
	margin: 0 20px 20px 0;
	height: auto;
	width: auto !important;
	text-align: center;
	word-break: normal;
    word-wrap: normal;
    white-space: normal;
	padding: 14px 18px;
	line-height: 20px;
}

.qbutton i,
.qbutton.small i {
	margin: 0 10px 0 0;
	-webkit-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    -moz-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    -ms-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    -o-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    transition: color .1s linear,background-color .1s linear,border-color .1s linear;
}

.qbutton.big_large { padding: 28px }
.aligncenter.marginright .qbutton.big_large { margin-right: 20px }

.qbutton.big_large_full_width { padding: 0 24px }

.home .qbutton {
	margin: 0 0 20px 0;
	width: auto !important;
}

.qbutton.marginright { margin-right: 20px }
.aligncenter .qbutton { margin-right: 0 }

/* dropdown menu button (built from accordion) */
.vc_tta.vc_general.qbutton {
	padding: 0;
	border: none;
}
.vc_tta.vc_general.qbutton:hover { background-color: transparent !important }

.vc_tta.vc_general.qbutton .vc_tta-panel {
	position: relative;
    display: inline-block !important;
    width: auto;
}

.vc_tta.vc_general.qbutton .vc_tta-color-black.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-heading { border-bottom: none !important }
.vc_tta.vc_general.qbutton .vc_tta-panel.vc_active .vc_tta-panel-body { border-top: none !important }
.vc_tta.vc_general.qbutton .vc_tta-panel.vc_active .vc_tta-panel-body p { margin-top: 0 !important }

.vc_tta-color-blue.vc_tta-style-modern .vc_tta-panel .vc_tta-panel-heading {
    border-color: transparent !important;
    background-color: #0cc1ea !important;
}

.vc_tta-color-blue.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-title > a { color: #fff !important }

.vc_tta-color-blue.vc_tta-style-modern .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after,
.vc_tta-color-blue.vc_tta-style-modern .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before { border-color: #fff !important }


/* Header
============================================ */

header.fixed,
header.fixed_hiding,
header.fixed_top_header .top_header {
	position: fixed !important;
	width: auto !important;
	right: 0px;
}
	
header .header_inner_left {
	position: absolute !important;
	left: 0px;
	top: inherit;
	z-index: 111;
}

.header_inner_right {
	position: fixed;
    right: 25px;
}

.header_bottom { padding: 30px 45px 0 }


/* Logos
============================================ */

.logo_wrapper {
	overflow: hidden;
	-webkit-transition: width .2s ease-in-out;
	-moz-transition: width .2s ease-in-out;
	-ms-transition: width .2s ease-in-out;
	-o-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
	width: 199px;
}

.q_logo {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity: 1;
	top: 0;
}

.q_logo img {
	background-color: #111111;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	top: 0;
}

.q_logo img.normal {
	z-index: 1;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity: 1 !important;
}

.q_logo img.popup,
.popup_menu_opened header .q_logo img.popup {
	opacity: 0 !important;
}

.q_logo img.light {
	z-index: 0;
	opacity: 1 !important;
}

.q_logo img.normal,
.q_logo img.popup { width: 199px !important; height: 80px !important; }

.q_logo img.light,
.q_logo img.dark,
.q_logo img.sticky,
.q_logo img.mobile { width: 95px !important; height: 80px !important; }


.logo_wrapper.scrolled { width: 106px !important }
.logo_wrapper.scrolled .q_logo img.normal { opacity: 0 !important; }
.logo_wrapper.scrolled .q_logo img.light { opacity: 1 !important; }

#back_to_top { z-index: 101 }
#back_to_top span i {
	font-size: 30px;
	line-height: 48px;
}


/* Header - Side Menu Button
============================================ */

.fullscreen_search_holder .close_container .search_close_holder .side_menu_button {
	height: 90px !important;
    width: 90px !important;
}

.side_menu_button_wrapper { display: inline-block }

nav.main_menu.right {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transform: none;
	-o-transition: none;
	transition: none;
}
nav.main_menu.right,
.side_menu_button_wrapper {
	float: left;
}

.side_menu_button_wrapper {
	opacity: 1;
}

.side_menu_button>a.popup_menu,
.side_menu_button>a.popup_menu.scrolled.fullscreen {
	background-color: #fff;
	border-color: #fff;
	border-radius: 20px;
	width: 32px !important;
	height: 40px !important;
	display: inline-block !important;
	position: relative;
	margin-left: 70px;
	float: left;
	-moz-box-shadow:    0px 1px 6px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
	box-shadow:         0px 1px 6px 0px rgba(0,0,0,0.25);
}
.side_menu_button>a.popup_menu.scrolled { margin-left: 0 }

.side_menu_button>a.popup_menu .menu-title,
.side_menu_button>a.search_button {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transform: none;
	-o-transition: none;
	transition: none;
	opacity: 1;
	display: block;
}

.side_menu_button>a.popup_menu .menu-title {
	float: left;
	position: relative;
	top: 7px;
	left: -60px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
}

.side_menu_button>a.side_menu_button_link { display: none }


/* Header - Popup Menu
============================================ */

.popup_menu_opened .q_logo img.normal { opacity: 1 !important }

.popup_menu_opened header .logo_wrapper.scrolled { width: 199px !important }

.popup_menu_holder { text-align: center }

.popup_menu_holder_inner { padding: 100px 0 }

.popup_menu_inner {
	top: 20px;
	left: 2px;
	display: block;
}

.popup_menu .line,
.popup_menu .line:after,
.popup_menu .line:before {
	height: 1px;
	width: 20px;
	background-color: #333 !important;
	z-index: 1;
}

.popup_menu .line,
.popup_menu .line:after,
.popup_menu .line:before {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transform: none;
	-o-transition: none;
	transition: none;
}

.popup_menu_footer .footer_text_title,
.popup_menu_footer .footer_summit_logo,
.popup_menu_footer .footer_summit_copyright,
.popup_menu_footer .footer_contact_button { display: none }

.popup_menu_footer .q_social_icon_holder .fa-stack { margin: 0 10px }
.popup_menu_footer .textwidget { padding: 10px 0 0 0 }

.popup_menu_footer {
	position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
    -webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.popup_menu_footer_container {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Header - Fullscreen Search
============================================ */

.search_button {
	top: 7px;
	float: left;
}

.fullscreen_search_table {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	top: 20%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}

.fullscreen_search_cell {
	display: block;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.fullscreen_search_holder.hidden { z-index: -111 }


/* Header - Fullscreen Close Buttons
============================================ */

.fullscreen_search_holder .close_container {
	position: absolute;
	left: initial;
	right: 0;
    top: 0;
    width: auto;
    height: auto;
}

.side_menu .close_container .side_menu_close_holder,
.fullscreen_search_holder .close_container .search_close_holder {
	margin-right: 0;
	margin-top: 0;
}

.fullscreen_search_holder .search_close_holder { float: left }

.side_menu_close_button {
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
}

.side_menu_close_button > a.side_menu_close,
.side_menu_button > a.fullscreen_search_close {
	background-color: transparent;
	border-radius: 0;
	width: 100%;
	height: 100%;
	display: inline-block !important;
	position: relative;
	float: left;
}

.side_menu_close_button > a.side_menu_close:hover,
.side_menu_button > a.fullscreen_search_close:hover { background-color: #999 }


.side_menu .line:after,
.side_menu .line:before,
.fullscreen_search_close .line:after,
.fullscreen_search_close .line:before {
	background-color: #9d9d9d;
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin-top: -2px;
	margin-left: -15px;
	z-index: -1;
	-webkit-backface-visibility: hidden;
}

.side_menu .line:before,
.fullscreen_search_close .line:before {
	background-color: #333;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transform: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.side_menu .line:after,
.fullscreen_search_close .line:after {
	background-color: #333;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transform: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.side_menu_close_button > a.side_menu_close:hover .line:before,
.side_menu_button > a.fullscreen_search_close:hover .line:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.side_menu_close_button > a.side_menu_close:hover .line:after,
.side_menu_button > a.fullscreen_search_close:hover .line:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.side_menu .line,
.side_menu .line:after,
.side_menu .line:before,
.fullscreen_search_close .line:after,
.fullscreen_search_close .line:before {
	height: 1px;
	width: 30px;
	background-color: #fff !important;
	z-index: 1;
}


/* Fullscreen Menu
============================================ */

nav {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity: 1;
	display: block;
}

nav.main_menu ul li.has_sub {
	display: none;
}

nav.main_menu.right {
	display: inline-block;
	visibility: visible;
    opacity: 1;
}

.popup_menu_opened .main_menu,
.popup_menu_opened .side_menu_button a:not(.popup_menu),
.popup_menu_opened #back_to_top,
.popup_menu_opened .header_top,
.popup_menu_opened header .tooltip,
.popup_menu_opened .mobile_menu_button,
.popup_menu_opened .fixed_top_header .header_bottom_center_widget,
.popup_menu_opened .fixed_top_header .header_bottom_right_widget_holder { visibility: visible !important }

nav.main_menu ul li.fullscreen a {
	display: inline;
	background-color: #333;
	padding: 15px;
}

nav.popup_menu > ul { text-align: center }

nav.popup_menu ul li.has_sub {
	display: inline-block;
	margin: 0 3%;
	vertical-align: top;
}

nav.popup_menu > ul > li.has_sub > h6 > span {
	font-family: 'alegreya_bold_italic', serif;
	font-size: 40px;
	text-transform: capitalize;
}

nav.popup_menu ul li.has_sub ul li a,
nav.popup_menu ul li.has_sub ul li ul li a {
	text-transform: uppercase;
}

nav.popup_menu > ul > li.has_sub > a,
nav.popup_menu > ul > li.has_sub > h6,
nav.popup_menu > ul > li.has_sub > a:hover,
nav.popup_menu > ul > li.has_sub > h6:hover {
	color: #ffffff !important;
	cursor: default;
}

nav.popup_menu ul li.has_sub.side-by-side {
	display: list-item;
    width: 100%;
    margin: 0;
    line-height: 32px;
    font-size: 14px;
}

nav.popup_menu ul li.has_sub.side-by-side ul,
nav.popup_menu ul li.has_sub.side-by-side ul li { display: inline-block !important }

nav.popup_menu ul li.has_sub.side-by-side ul li a {
	font-size: 14px;
	line-height: 32px;
}

nav.popup_menu ul li.has_sub.side-by-side ul li.left a:after {
	content: " / ";
	pointer-events: none;
	cursor: default;
	vertical-align: bottom;
	margin: 0 8px 0 4px;
}

nav.popup_menu ul li.has_sub.side-by-side ul li.left a:hover:after { color: #ffffff !important }


/* Fullscreen Section
============================================ */

.home .full_screen_section_overlay,
.full_screen_section_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home .full_screen_section_overlay { background-color: rgba(0,0,0,0.4) }

body:not(.home) .full_screen_section { margin-top: 80px }
body:not(.home) .full_screen_section .wpb_content_element { margin-top: 40px }


/* Homepage
============================================ */

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.home p, .home ol, .home ul {
	margin-top: 0px;
	margin-bottom: 20px;
}

.home h2 {
	font-size: 64px;
	line-height: 64px;
	margin-bottom: 20px;
}

.home .vc_row {
	margin-top: 0;
	margin-left: 0px;
    margin-right: 0px;
 }
 
.home .wpb_row { margin-bottom: 0px !important }


/* Homepage - Slider
============================================ */

.slide_anchor_holder { margin-top: 30px !important }

.slide_anchor_button {
	display: inline-block;
    position: relative;
}

.slide_anchor_button .line,
.slide_anchor_button .line:before,
.slide_anchor_button .line:after {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -15px;
	height: 2px;
	width: 60px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transform: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.slide_anchor_button .line:before,
.slide_anchor_button .line:after {
	content: "";
	position: absolute;
	left: 0;
}

.slide_anchor_button .line:before {
	-webkit-transform: translateY(0) rotate(40deg);
	-moz-transform: translateY(0) rotate(40deg);
	-ms-transform: translateY(0) rotate(40deg);
	-o-transform: translateY(0) rotate(40deg);
	transform: translateY(0) rotate(40deg);
	left: -23px;
}

.slide_anchor_button .line:after {
	-webkit-transform: translateY(0) rotate(-40deg);
	-moz-transform: translateY(0) rotate(-40deg);
	-ms-transform: translateY(0) rotate(-40deg);
	-o-transform: translateY(0) rotate(-40deg);
	transform: translateY(0) rotate(-40deg);
	left: 23px;
}

.slide_anchor_button .line { background-color: transparent !important }

.carousel-control i {
	line-height: 52px;
	position: relative;
}

.carousel-control.left i { left: -2px }
.carousel-control.right i { left: 2px }

.carousel-inner h2.q_slide_title {
    color: #ffffff;
    font-family: 'alegreya_bold_italic', serif;
    font-style: normal;
    font-weight: normal;
    text-shadow: none;
    text-transform: capitalize;
}

.carousel-inner h2,
.carousel-inner .q_slide_subtitle { text-shadow: 1px 1px 2px rgba(0,0,0,0) }

.carousel-inner .slider_content_outer {
	top: 15%;
	height: 85%; /* minus header height */
}

.carousel-inner .slider_content {
	position: relative;
	height: auto !important;
	width: 100% !important;
	right: auto !important;
	left: auto !important;
	top: 50% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	text-align: center;
}

.carousel-inner .slider_content .text .qbutton.white { margin: 10px auto; width: auto !important; }


/* Homepage - Masonry Gallery
============================================ */

.masonry_gallery_holder .masonry_gallery_item,
.masonry_gallery_item .masonry_gallery_item_outer { padding: 0 }

.masonry_gallery_item.with_icon .masonry_gallery_item_inner,
.masonry_gallery_item.with_button .masonry_gallery_item_inner { background-color: rgba(0,0,0,0) }

.masonry_gallery_item_inner .masonry_gallery_item_content {
	top: inherit;
	bottom: 40px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.masonry_gallery_item_content h3,
.masonry_gallery_item_content .masonry_gallery_item_text { display: none }


/* Homepage - Portfolio Masonry Gallery
============================================ */

.projects_masonry_holder .text_holder {
	background-color: rgba(0,0,0,0);
	opacity: 1;
	height: auto;
	top: inherit;
	bottom: 50px;
}


/* Homepage - Latest Message
============================================ */

.home .wpfc_grid_image a img { margin-bottom: 20px !important }


/* Homepage - Summit Story
============================================ */

.home #summit-story .section_inner > * {
	width: 1100px;
	margin: 0 auto;
    position: relative;
    z-index: 20;
}

@media only screen and (max-width: 1200px) { .home #summit-story .section_inner > * { width: 950px } }
@media only screen and (max-width: 1000px) { .home #summit-story .section_inner > * { width: 768px } }
@media only screen and (max-width: 767px)  { .home #summit-story .section_inner > * { width: 600px } }
@media only screen and (max-width: 480px)  { .home #summit-story .section_inner > * { width: 340px } }

#summit-story .wpb_content_element { margin-bottom: 0 }

#summit-story .vc_gitem-post-data-source-post_excerpt { margin-bottom: 40px !important }

#summit-story .vc_gitem-post-data-source-post_excerpt p:not(:first-child) { display: none }

#summit-story .vc_gitem-post-data-source-post_excerpt a { font-size: inherit !important; line-height: inherit !important; }

#summit-story .qbutton { border-bottom: 2px solid #fff }


/* Homepage - Blog Posts HungryFEED
============================================ */

h3.hungryfeed_feed_title {
	font-family: 'alegreya_bold_italic', serif;
	font-size: 24px;
	line-height: 30px;
	text-transform: none;
	padding-bottom: 0px;
}

div.hungryfeed_feed_description {}
div.hungryfeed_feed_content {}
div.hungryfeed_items {}
div.hungryfeed_item {}
div.hungryfeed_item_title {}
div.hungryfeed_item_description {}
div.hungryfeed_item_author {}
div.hungryfeed_item_date {}


/* Interior Pages
============================================ */

.title_outer.with_image {
    max-height: 502px;
}

.title_outer.with_image .title {
	display: inline-block;
    max-height: 502px;
}

.title_outer.with_image .title .header_bg {
	max-height: 502px;
    overflow: hidden;
}

.title_outer.with_image .title .header_bg img {
	display: table;
	width: auto;
	min-height: 502px;
	max-width: none;
	min-width: 100%;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: -1;
}

.single .title_outer.with_image .title .header_bg img {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-15%);
	-ms-transform: translate(-50%,-15%);
	transform: translate(-50%,-15%);
}

.title_outer.with_image .title .image {
	display: table;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 502px;
    width: 100%;
}

.title.title_size_large h1 { margin-bottom: 10px !important }
.messages .title.title_size_large h1 { margin-bottom: 20px !important }

.title_subtitle_holder_inner .vc_row {
	margin-top: 20px;
	margin-bottom: 0px !important;
}

.title .separator.small,
.title .separator.small.left,
.title .separator.small.right {
	margin-top: 20px;
	margin-bottom: 30px;
}

.messages .title .separator.small,
.messages .title .separator.small.left,
.messages .title .separator.small.right {
	margin-bottom: 10px;
}

.title .qbutton { margin: 0 }
.title .qbutton.marginright { margin-right: 20px }

.container_inner,
.content .container .container_inner,
.content .container .container_inner.page_container_inner,
body:not(.home) .full_width .full_width_inner:not(.messages) { padding: 60px 0 }

body:not(.home) .full_width .full_width_inner.messages .container_inner,
body:not(.home) .full_width .full_width_inner.messages .content .container .container_inner,
body:not(.home) .full_width .full_width_inner.messages .content .container .container_inner.page_container_inner { padding: 30px 0 }

.page .full_width .full_width_inner .section_inner_margin {
    margin-left: 0px;
    margin-right: 0px;
}

.wpb_row {
	margin-top: 40px;
	margin-bottom: 20px !important;
	clear: both;
}

.wpb_row.vc_inner {
    margin-left: -20px;
    margin-right: -20px;
	margin-bottom: 0 !important;
}


.full_width .wpb_row.full_width {
	margin-top: 0;
	margin-bottom: 0 !important;
	background-color: transparent;
}

.home .full_screen_section .wpb_column,
.home .vc_column_container > .vc_column-inner {
	padding-left: 0px;
    padding-right: 0px;
}

.single .section { margin-top: 40px }

.breadcrumb {
	font-family: 'lato_regular', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	z-index: 99;
	padding-left: 0;
    padding-right: 0;
}

.full_width .breadcrumb {
	padding-left: 30px;
    padding-right: 30px;
}

.breadcrumbs .breadcrumbs_inner span.delimiter {
	font-size: 20px;
	position: relative;
	top: 0px;
	padding: 0 10px;
}

.social-row {
	margin-top: -30px;
    margin-bottom: 0px !important;
}

.social-row .q_social_icon_holder .simple_social { margin-left: 10px }

body:not(.home) .wpb_column { padding-bottom: 30px }

.wpb_column.resources { margin-top: -70px }

.wpb_column.resources .wpb_text_column { margin-top: 40px }
.wpb_column.resources .wpb_text_column:first-child { margin-top: 0 }

.wpb_column.resources p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
}

.wpb_column.resources a {
	clear: both;
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
}

.vc_text_separator { font-family: 'alegreya_bold', serif; font-style: normal; font-weight: normal; }
.vc_text_separator.full.separator_align_center {
	margin-top: 80px;
	margin-bottom: 60px;
}

.wpb_column.resources .separator.transparent { margin: 7px 0 }

.qode_pricing_tables .q_price_table:not(.active) .price_table_inner,
.qode_pricing_tables .q_price_table:not(.active) .price_table_inner ul li.table_title,
.qode_pricing_tables .q_price_table .price_table_inner ul li.prices,
.qode_pricing_tables .q_price_table .price_table_inner ul li.pricing_table_content { padding: 10px 0 }
.qode_pricing_tables .q_price_table .price_table_inner ul li.pricing_table_content p { padding: 0; margin: 0; }

.price_in_table .price {
	letter-spacing: -6px;
	font-weight: normal;
}

.price_in_table .mark {
	display: inline-block;
	width: 100%;
}

.qode_pricing_tables .q_price_table.active { margin-bottom: 45px }
.qode_pricing_tables .q_price_table.active .price_table_inner ul li.table_title { padding: 20px 0 10px }

blockquote {
	padding: 60px 30px;
	margin-bottom: 60px;
}

blockquote .blockquote-text b {
	font-size: 24px;
	line-height: 28px;
    display: inline-block;
}

.call_to_action h3,
.call_to_action h4 { margin-bottom: 20px }

.call_to_action p {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-caption-text {
	font-size: small;
	line-height: normal;
	margin-top: 0;
}


/* Interior Pages - Sidebar
============================================ */

aside .widget {
	display: inline-block;
	margin: 0 0 20px;
	width: 100%;
}

aside .all-stories { margin-top: -60px }

aside .widget ul,
.side_menu .widget ul { margin-left: 0px }

aside .widget li:last-child,
.side_menu .widget li:last-child { margin: 0 0 10px }

aside .widget .post-date {
	font-size: 12px;
	width: 100%;
    float: left;
}


/* Interior Pages - Subnav
============================================ */

subnav {
	display: inline-block;
	position: absolute;
	bottom: 0;
    z-index: 500;
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
}

subnav > ul {
	display: table !important;
}

subnav ul {
	display: table;
	list-style: none outside none;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

subnav ul li {
    float: left;
    padding: 0;
    margin: 0;
}

subnav ul li a,
subnav .mobile_subnav_holder a {
	display: block;
	padding: 30px 20px;
	text-transform: uppercase;
	background-color: transparent;
}

subnav .mobile_subnav_holder a:before { content: "Open " }
subnav .mobile_subnav_holder a i.close { display: none }
subnav .mobile_subnav_holder { display: none }

subnav ul li.current_page_item a,
subnav ul li.current_page_parent a { background-color: rgba(255,255,255,0.4) }

subnav .subnav_container { display: block }


/* Interior Pages - Tertiary Subnav
============================================ */

subnav ul.children {
	display: none;
	position: absolute;
    top: 84px;
    margin: 0;
    padding: 0;
}

subnav ul.children li {
    float: none;
    white-space: nowrap;
}

subnav ul.children li a {
	padding: 20px 40px;
    background-color: rgba(60, 60, 60, 0.98);
}

subnav ul li.page_item_has_children > a:after {
	font-family: FontAwesome;
	content: " \f107";
}

subnav ul.children li.current_page_item a { background-color: rgba(140, 140, 140, 0.98) }


/* Grid Reset */

.vc_gitem-zone-mini,
.vc_gitem-zone-a .vc_gitem-zone-mini { padding: 0px }
.vc-gitem-zone-height-mode-auto:before { padding-top: 0px }
.vc_gitem-zone-a .vc_gitem-row-position-middle,
.vc_gitem-zone-b .vc_gitem-row-position-middle {
	position: relative;
	top: 0;
	left: 0;
    right: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.vc_gitem_row .vc_gitem-col { padding: 30px 0 0 }

.vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item,
.vc_media_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item {
	display: inline-block;
	padding-bottom: 0;
}

.vc_grid-filter > .vc_grid-filter-item > span.qbutton {
	padding: 14px 18px;
	-webkit-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.vc_row.vc_row-flex > .vc_column_container > .vc_column-inner > .wpb_wrapper,
.vc_row.vc_row-flex > .vc_column_container > .vc_column-inner > .wpb_wrapper > .q_team {
	height: 100%;
    display: block;
}


/* Interior Pages - Starting Point
============================================ */

.starting-point .wpb_row {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.section_inner_margin {
	margin-left: 0;
	margin-right: 0;
}

.starting-point .wpb_column {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.starting-point .vc_gitem_row .vc_gitem-col { padding: 30px }
.starting-point .vc_gitem_row.vc_row { margin-top: 0 }
.starting-point .vc_gitem-is-link { cursor: default }
.starting-point .vc_gitem-zone .vc-zone-link { z-index: -1 }
.starting-point .vc_grid.vc_row { margin-top: 0 }
.starting-point .vc_grid.vc_row .vc_grid-item { padding-left: 0 }
.starting-point .vc_gitem-post-data h4 { margin-right: 50px }
.starting-point .vc_gitem-post-data div,
.starting-point .vc_gitem-post-data p { margin: 0 0 10px 0; padding: 0; line-height: 26px; }
.starting-point .vc_gitem-post-data *:last-child { margin-bottom: 0 }
.starting-point .vc_gitem-post-data .qbutton { margin: 15px 10px 0 0 }
.starting-point .separator { margin: 10px 0 0 }
.starting-point .vc_gitem-zone { min-height: 300px }

.starting-point .vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_widgetised_column,
.starting-point .the_city_plaza_widget .tc_wp_content { margin-bottom: 0 !important }

.starting-point .the_city_plaza_widget .tc_wp_content .tc_wp_item {
	margin: 0;
	display: inline-block;
}

.starting-point .the_city_plaza_widget .tc_wp_content,
.starting-point .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_link,
.starting-point .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date,
.starting-point .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_time {
	font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

/* Manual Grid */

.wpb_row.starting-point {
    margin-top: 30px;
    margin-bottom: 30px !important;
}

.starting-point .vc_column_container > .vc_column-inner > .wpb_wrapper {
	background-color: #2d2d2d;
	padding: 30px;
	min-height: 265px;
}

.starting-point .vc_column_container > .vc_column-inner h4 {
	font-size: 24px;
    color: #ffffff;
    line-height: 1.3;
    text-align: left;
    font-family: 'lato_regular', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 10px;
    border-bottom: solid 2px #fff;
}

.starting-point .vc_column_container > .vc_column-inner p {
	color: #ffffff;
    padding: 0;
    margin-top: 0;
    line-height: 24px;
}


/* Interior Pages - Serve
============================================ */

.q_image_with_text_over .shader { background-color: rgba(0,0,0,0.4) }

.q_image_with_text_over table td { padding: 10% }

.q_image_with_text_over .caption,
.q_image_with_text_over .caption.no_icon { margin-bottom: 15px }
.q_image_with_text_over h6.caption.no_icon { margin-bottom: 0 }

.q_image_with_text_over .text:hover .caption,
.q_image_with_text_over .text:hover .icon_holder {
	opacity: 1;
    filter: alpha(opacity = 1);
}


/* Interior Pages - Missions
============================================ */

.missions_buttons .vc_column_container:first-child > .vc_column-inner { padding-left: 30px; padding-right: 15px; }
.missions_buttons .vc_column_container > .vc_column-inner { padding-left: 22px; padding-right: 22px; }
.missions_buttons .vc_column_container:last-child > .vc_column-inner { padding-left: 15px; padding-right: 30px; }

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panel .vc_tta-panel-heading {
    border-color: transparent !important;
    background-color: transparent !important;
}

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panel-title > a {
	color: #0cc1ea !important;
	font-family: 'open_sans_regular', sans-serif;
	font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding: 0 !important;
}

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panel-title > a:hover { color: #222222 !important }

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
	position: relative;
	left: 10px;
	right: 0px;
    top: 0px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-controls-icon-position-right .vc_tta-controls-icon::before { border-color: #0cc1ea !important }

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panel-title > a:hover .vc_tta-controls-icon::before { border-color: #222222 !important }

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panel.vc_active .vc_tta-controls-icon-position-right .vc_tta-controls-icon { top: -2px }

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panels .vc_tta-panel-body .details {
    font-weight: bold;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panels .vc_tta-panel-body .details a {
    font-weight: bold;
    line-height: 28px;
	text-transform: initial;
}

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panels .vc_tta-panel-body .details .date,
.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panels .vc_tta-panel-body .details .leader {
    color: #cccccc;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    font-weight: bold;
}

.vc_tta.vc_tta-accordion.partner-trips .vc_tta-panels .vc_tta-panel-body .details .date { text-transform: uppercase }


/* Interior Pages - Times & Locations
============================================ */

#map_canvas { display: none }

#campus-header-clone .full_section_inner,
#campus-header-clone p { margin-top: 0 }

#campus-header-clone .wpb_content_element,
#campus-header-clone h6 { margin-bottom: 0 !important }

.campus-grid .vc_gitem_row.vc_row { margin-top: 0 }
.campus-grid .vc_gitem-is-link { cursor: default }
.campus-grid .vc_gitem-zone .vc-zone-link { z-index: -1 }
.campus-grid .vc_grid.vc_row { margin-top: 0 }
.campus-grid .vc_grid.vc_row .vc_grid-item { padding-left: 0 }
.campus-grid .vc_gitem-post-data div,
.campus-grid .vc_gitem-post-data p { line-height: 26px }
.campus-grid .vc_gitem-post-data *:last-child { margin-bottom: 0 }
.campus-grid .vc_gitem-post-data .qbutton { margin: 15px 10px 0 0 }
.campus-grid .separator { margin: 10px 0 0 }
.campus-grid .vc_gitem-zone { min-height: 300px }

.campus-grid .vc_gitem-zone-c { min-height: 0px !important }

.campus-grid .vc_gitem-zone-c .vc_gitem_row .vc_gitem-col { padding: 0 }

.campus-grid .vc_grid.vc_row .vc_grid-item .vc_gitem-zone-c .wpb_content_element,
.campus-grid .vc_grid.vc_row .vc_grid-item .vc_gitem-zone-c .vc_icon_element,
.campus-grid .vc_grid.vc_row .vc_grid-item .vc_gitem-zone-c .vc_btn { margin-bottom: 0 }

/* locations grid not built with grid-builder */
.campus-grid .vc_column_container > .vc_column-inner {
	padding-left: 15px;
    padding-right: 15px;
}

.zoomIn {
	-webkit-animation-name: none !important;
	animation-name: none !important;
}

.animated {
	-webkit-animation-duration: 1s !important;
	animation-duration: 1s !important;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

#map_canvas {
	margin: 80px auto;
	width: 100%;
	height: 500px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.map-overlay {
	font-family: 'lato_regular', sans-serif;
	color: inherit;
	font-size: 16px;
	line-height: 22px;
}

.map-overlay a.map-link {
	font-family: 'lato_regular', sans-serif;
	color: inherit;
	font-size: 18pt;
	line-height: 36px;
	display: block;
	text-decoration: none;
}


/* Interior Pages - Individual Campus Pages
============================================ */

.the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_link,
.the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date,
.the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_time {
	font-size: initial;
    line-height: initial;
    font-family: inherit;
}

.the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_link,
.the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date,
.the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_time {
    display: inline-block;
}

.campus-events.the-gathering .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_link,
.campus-events.the-gathering .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date,
.campus-events.the-gathering .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_time {
    display: block;
}

.the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_delimiter {
	padding: 0 10px;
	font-size: 18px;
}

.the_city_plaza_widget .tc_wp_content .tc_wp_item:last-child .tc_wp_delimiter { display: none }

.vc_gitem-post-data { margin-bottom: 0 }

.campus-events .the_city_plaza_widget .tc_wp_content {
    overflow: hidden;
}

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item {
	clear: left;
    height: 260px;
	width: 16.6%;
    margin: 0 2% 0 0;
    padding-right: 2%;
    display: inline-block;
    vertical-align: top;
    border-right: solid 2px #ccc;
}

.campus-events.the-gathering .the_city_plaza_widget .tc_wp_content .tc_wp_item {
	height: auto;
	width: auto;
}

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item:last-child {
    margin: 0;
    padding-right: 0;
    border-right: none;
}

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date {
	float: left;
	width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.campus-events.the-gathering .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date { margin-bottom: 0 }

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item h3 {
    margin-bottom: 0;
}

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item h3 a {
	font-size: 24px;
    line-height: 28px;
    word-break: break-word;
    word-wrap: break-word;
}

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item span {
	display: block;
	color: #ccc;
	font-size: 24px;
	line-height: 24px;
	font-style: normal;
    font-weight: bold;
	text-transform: uppercase;
    text-align: left;
}

.campus-events.the-gathering .the_city_plaza_widget .tc_wp_content .tc_wp_item span {
	text-align: center;
    letter-spacing: 4px;
}

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item span.tc_wp_date_day {
	font-size: 78px;
    line-height: 78px;
    letter-spacing: normal;
}

.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item span.tc_wp_date_month {
	margin-left: 2px;
}

.campus-leadership .q_team { background-color: transparent }

.campus-leadership .elders {
	margin-top: 23px;
	text-align: center;
}

.campus-sidebar .q_social_icon_holder { margin: 0 18px 0 0 }

.campus-sidebar .q_team .q_social_icon_holder { margin: 0 6px }

.campus-sidebar .q_social_icon_holder.square_social .fa-stack,
.campus-sidebar .q_social_icon_holder.square_social .fa-stack i {
	background-color: transparent !important;
	background-repeat: no-repeat;
	background-size: contain;
	width: 34px;
    height: 34px;
    line-height: 34px;
    top: -8px;
    margin: 0;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity: 1;
}

.campus-sidebar .q_social_icon_holder.square_social .fa-stack {
	background-image: url('/wp-content/themes/the-summit-church-child/images/the-city-icon.png');
	opacity: 1;
}

.campus-sidebar .q_social_icon_holder.square_social .fa-stack i {
	background-image: url('/wp-content/themes/the-summit-church-child/images/the-city-icon-hover.png');
	opacity: 0;
}

.campus-sidebar .q_social_icon_holder.square_social:hover .fa-stack { opacity: 1 }
.campus-sidebar .q_social_icon_holder.square_social:hover .fa-stack i { opacity: 1 }


/* Cary Campus Stories */

.rpwwt-widget ul {
	display: inline-block;
	margin-bottom: 20px;
}

.rpwwt-widget ul li {
	width: 22%;
	float: left;
	margin: 0 2% !important;
}

.rpwwt-widget ul li:first-child { margin: 0 2% 0 0 !important }
.rpwwt-widget ul li:last-child { margin: 0 0 0 2% !important }


/* Interior Pages - Leadership
============================================ */

.blog_holder article .post_text .post_featured_image {
	float: left;
    margin: 0 60px 20px 0;
}

.blog_holder article .post_text h3 { margin-bottom: 0 }

.leadership-grid .vc_custom_heading.vc_gitem-post-data,
.leadership-grid .vc_custom_heading.vc_gitem-post-data div,
.leadership-grid .vc_custom_heading.vc_gitem-post-data p {
	margin-top: 0;
	margin-bottom: 0;
}

.leadership-grid .vc_gitem-zone-a .vc_gitem-row-position-middle,
.leadership-grid .vc_gitem-zone-b .vc_gitem-row-position-middle {
	position: relative;
	top: 0;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
	margin-top: 0;
}

.leadership-grid .wpb_row { margin-bottom: 0 !important }

.leadership-grid .vc_gitem_row .vc_gitem-col { padding: 0 }

.leadership-grid .q_team .q_team_title_holder .q_team_name { font-size: 180% }

.leadership-grid .vc-gitem-zone-height-mode-auto:before { padding: 0 }

.q_team .q_team_title_holder p.q_team_position {
	font-size: smaller;
	line-height: inherit;
	margin-top: 0;
	margin-bottom: 10px;
}

/* leadership grid not built with grid-builder */
.leadership-grid .vc_column_container > .vc_column-inner {
	padding-left: 15px;
    padding-right: 15px;
}


/* Interior Pages - Pastor J.D.
============================================ */

.books .vc_custom_heading.vc_gitem-post-data .wpb_row,
.books .vc_custom_heading.vc_gitem-post-data h3,
.books .vc_custom_heading.vc_gitem-post-data p {
	margin-top: 0;
	margin-bottom: 0 !important;
}

.books .vc_custom_heading.vc_gitem-post-data p { line-height: 30px }

.books .vc_grid.vc_row .vc_grid-item { padding-left: 0 }

.books .vc_gitem-zone { overflow: visible }


/* Interior Pages - College
============================================ */

.college-news .vc_gitem-post-data h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.college-news .wpb_single_image .vc_single_image-wrapper,
.college-news .wpb_content_element.wpb_single_image img { min-width: 100% }

/* .college-staff .q_team .q_team_image { display: none } */

.college-staff .vc_grid-item .wpb_row {
	margin-top: 0;
	margin-bottom: 0 !important;
}

.college-staff .vc_gitem_row .vc_gitem-col { padding: 0 !important }

.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-50 { /* UNC */
	color: #2376a1;
    border-color: #2376a1;
}

.vc_grid-filter > .vc_grid-filter-item.vc_active > span.qbutton.school-color-term-50,
.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-50:hover { /* UNC */
	color: #fff;
    border-color: #2376a1 !important;
    background-color: #2376a1 !important;
}

.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-51 { /* NCCU */
	color: #981a1b;
    border-color: #981a1b;
}

.vc_grid-filter > .vc_grid-filter-item.vc_active > span.qbutton.school-color-term-51,
.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-51:hover { /* NCCU */
	color: #fff;
    border-color: #981a1b !important;
    background-color: #981a1b !important;
}

.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-52 { /* Duke */
	color: #001a57;
    border-color: #001a57;
}

.vc_grid-filter > .vc_grid-filter-item.vc_active > span.qbutton.school-color-term-52,
.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-52:hover { /* Duke */
	color: #fff;
    border-color: #001a57 !important;
    background-color: #001a57 !important;
}

.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-53 { /* NC State */
	color: #cc0000;
    border-color: #cc0000;
}

.vc_grid-filter > .vc_grid-filter-item.vc_active > span.qbutton.school-color-term-53,
.vc_grid-filter > .vc_grid-filter-item > span.qbutton.school-color-term-53:hover { /* NC State */
	color: #fff;
    border-color: #cc0000 !important;
    background-color: #cc0000 !important;
}


/* Interior Pages - Kids
============================================ */

#bible-stories p { line-height: 24px }


/* Interior Pages - Students
============================================ */

.students-ms-weekly .wpb_row {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.students-ms-weekly .q_team .q_team_title_holder p.q_team_position { font-size: initial }

.students-ms-weekly p {
	font-size: smaller;
	line-height: 26px;
	margin-bottom: 0;
}


/* Interior Pages - Bible
============================================ */

.page-template-bible .vc_text_separator.full.separator_align_center {
	margin-bottom: 0;
	display: block;
}

.bible_container h3 { color: #999999 }

.bible_container i.fa { margin-right: 20px }

body:not(.home) .bible_container .wpb_column {
	padding-left: 30px;
    padding-right: 30px;
}

body:not(.home) .full_width .section_inner .wpb_row.bible_container .wpb_column {
	padding-left: 10px;
	padding-right: 10px;
}

.bible_container .section_inner .section_inner_margin > .wpb_column { margin-bottom: 60px }

.bible_container .wpb_column .wpb_text_column .wpb_wrapper { padding: 0 }

.bible_wrapper .wpb_column .wpb_text_column .wpb_wrapper {
	padding: 30px 20px;
	min-height: 100px;
	background-color: rgba(224, 224, 224, 0.25);
}

.wpb_row.bible_wrapper {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.bible_container h3 { margin-bottom: 20px }

.bible_container p { margin-left: 55px }


/* Interior Pages - Books & Curriculum
============================================ */

.books .wpb_row,
.books p,
.books .vc_gitem-post-data-source-post_title h3 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.books .vc_gitem-post-data-source-post_title h3 {
	margin-bottom: 10px !important;
}

.books .vc_gitem_row .vc_gitem-col { padding: 25px 0 }
.books .vc_gitem-zone-c .vc_gitem_row .vc_gitem-col { padding: 25px 25px 25px 0 }


/* Interior Pages - Short-Term Trips
============================================ */

.short-term .the_city_plaza_widget .tc_wp_content .tc_wp_item { clear: both }

.short-term .the_city_plaza_widget .tc_wp_content .tc_wp_item h3 { margin-bottom: 10px }

.short-term .the_city_plaza_widget .tc_wp_content .tc_wp_item h3 a {
	font-size: 26px;
	line-height: 30px;
    line-height: inherit;
}

.short-term .the_city_plaza_widget .tc_wp_content .tc_wp_item span.tc_wp_date_day,
.short-term .the_city_plaza_widget .tc_wp_content .tc_wp_item span {
	display: inline-block;
	color: #ccc;
	font-size: 16px;
	line-height: 18px;
	font-style: normal;
    font-weight: bold;
	text-transform: uppercase;
}


/* Interior Pages - Jobs
============================================ */

.job-openings h3 { margin-bottom: 20px }
.job-openings h5 { margin-bottom: 0 }


/* Interior Pages - Stories
============================================ */

.single-post .title_outer.with_image .title .image { background-image: url('/wp-content/uploads/2015/06/vision-history-header.jpg'); }

.blog_holder article.category-stories .post_info { display: none }

.blog_holder.blog_single article.category-stories { margin: 0 }

.blog_single.blog_holder article .date { padding-top: 40px }

.blog_single.blog_holder article .post_text .post_text_inner { padding-top: 0 }

.pagination ul li span,
.pagination ul li a {
	border-radius: 0;
}


/* Interior Pages - Stewardship Blog
============================================ */

.blog_holder article.category-stewardship .post_info { display: none }

.blog_holder.blog_single article.category-stewardship { margin: 0 }


/* Interior Pages - Multiply
============================================ */

.multiply .vc_grid .vc_grid-item .wpb_single_image .vc_single_image-wrapper {
	height: 102px;
}

.multiply .vc_grid .vc_grid-item .wpb_single_image img {
	width: 100%;
}

.multiply .vc_grid .vc_grid-item .vc_gitem-post-data.vc_gitem-post-data-source-post_excerpt p:not(:first-child) { display: none }


/* Messages Series Page
============================================ */

.wpfc_sermon_series h2,
.wpfc_sermon_single h2,
.wpfc_sermon_meta h3 { margin-bottom: 10px }

.wpfc_sermon_series h2 { margin-top: 40px }

.wpfc_sermon_series .sermon-tax-description p { margin-bottom: 0 }

.wpfc_sermon_meta ul#wpfc_images_grid li,
.wpfc_sermon_meta ul#wpfc_images_grid li:first-child { display: list-item }

.wpfc_sermon_image { margin-right: 40px }

.wpfc_sermon_single .wpb_row { margin-bottom: 0 !important }

#nav-below { margin: 40px 0 }


/* Messages Single Page
============================================ */

.wpfc_sermon_player .player_container {
	position: relative;
	margin: 60px 0 0;
}

.wpfc_sermon_player .wpfc_sermon-video {
	position: relative;
	margin: 0;
	max-width: 100%;
	clear: both;
	padding-top: 0;
	padding-bottom: 56.25%;
	height: 0;
    z-index: 2;
}

.wpfc_sermon_player .wpfc_sermon-video iframe,
.wpfc_sermon_player .wpfc_sermon-video embed {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.single-wpfc_sermon .wpfc_sermon-audio {
	position: absolute;
    left: 0;
    top: 0;
	margin: 0;
	max-width: 100%;
	clear: both;
	padding-top: 0;
	padding-bottom: 56.25%;
	height: 0;
    z-index: 1;
}

.single-wpfc_sermon .wpfc_sermon-audio.on {
	position: relative;
	margin: 40px 0 0;
}

.wpfc_sermon_single .wpb_column.resources { margin-top: 0 }

.single-wpfc_sermon .wpfc_sermon-audio .wp-audio-shortcode {
	position: absolute;
	bottom: 0;
}

.mejs-container .mejs-controls .mejs-time span {
	color: inherit;
	line-height: inherit;
}

.single-wpfc_sermon .wpfc_sermon-audio.on { text-indent: 0px }

.single-wpfc_sermon .wpfc_sermon_wrap { padding-bottom: 20px }

.single-wpfc_sermon .wpfc_sermon_image img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wpfc_sermon_player .wpfc_sermon-video-buttons { margin-bottom: 0px }

.wpfc_sermon_player .wpfc_sermon-video-buttons .qbutton {
	color: #ffffff;
	margin-right: 5px;
}

.wpfc_sermon_player .wpfc_sermon-video-buttons .qbutton.on,
.wpfc_sermon_player .wpfc_sermon-video-buttons .qbutton.on:hover { cursor: default }

.preacher_name,
.sermon_date,
.service_type,
.sermon_topics {
	text-transform: none;
	font-size: 140%;
	line-height: 180%;
}

#wpfc-attachments a[href$='.mp3'],
#wpfc-attachments a[href$='.pdf'],
a.sermon-notes {
	background: none;
	padding: 0;
	height: auto;
	line-height: inherit;
}

#wpfc-attachments a[href$='.mp3'] .fa,
#wpfc-attachments a[href$='.pdf'] .fa,
a.sermon-notes .fa { margin-bottom: 0 }

.wpfc_sermon_previous { padding-right: 12% }

.wpfc_sermon_next {
	padding-left: 12%;
	text-align: right;
	border-left: solid 1px #ccc;
}
.wpfc_sermon_next .qbutton.blue { margin-right: 0 }

.wpfc_sermon_previous img,
.wpfc_sermon_next img { width: 100% }

.wpfc_sermon_previous h4,
.wpfc_sermon_next h4 { margin-bottom: 10px }

.wpfc_sermon_previous .wpb_text_column *:last-child,
.wpfc_sermon_next .wpb_text_column *:last-child { margin-bottom: 20px }


/* Messages Archive
============================================ */

#wpfc_sermon_sorting {
	text-align: center;
	background-color: #ccc;
	padding: 40px 0;
	text-align: center;
	position: relative;
	z-index: 100;
}

#wpfc_sermon_sorting span form:last-child {
	margin: 0 0 10px 0;
}

#wpfc_sermon_sorting .filter-label {
	padding: 0;
}

#wpfc_sermon_sorting .feed-icons {
	display: inline-block;
	margin-left: 10px;
}

#wpfc_sermon_sorting .podcast-icon,
#wpfc_sermon_sorting .rss-icon {
	display: inline-block;
	height: 40px;
	width: 40px;
	float: left;
	overflow: hidden;
}

#wpfc_sermon_sorting .podcast-icon a,
#wpfc_sermon_sorting .rss-icon a {
    display: block;
	height: 24px;
	width: 24px;
	position: relative;
    top: 7px;
    left: 8px;
}

#wpfc_sermon_sorting .podcast-icon a {
    top: 8px;
    left: 8px;
	background-image: url('./images/itunes-podcast.png');
	background-size: cover;
}

#wpfc_sermon_sorting .podcast-icon a:hover {
	background-position-y: -24px;
}

#wpfc_sermon_sorting .podcast-icon img {
	height: 48px;
    width: 24px;
}

.wpfc_grid_title,
.taxonomy-description { margin-bottom: 20px }

li.wpfc_grid_image {
	width: 100%;
	padding: 40px 0;
	margin-bottom: 0 !important;
	border-bottom: solid 1px #ccc;
}

li.wpfc_grid_image:first-child {
	padding: 40px 0;
}

li.wpfc_grid_image:last-child {
	border: none;
	padding: 40px 0;
	margin-bottom: 0 !important;
}

li.wpfc_grid_image img {
	float: left;
	margin-right: 50px;
	width: 539px;
}

li.wpfc_grid_image .vc_column_container > .vc_column-inner { padding-left: 0 }

li.wpfc_grid_image .vc_column_container.vc_col-sm-9 { padding-bottom: 0 }

li.wpfc_grid_image .vc_column_container.vc_col-sm-9 .wpb_content_element,
li.wpfc_grid_image .vc_column_container.vc_col-sm-6 .wpb_content_element { margin-bottom: 0 }

li.wpfc_grid_image .vc_column_container.vc_col-sm-3 { text-align: right }

li.wpfc_grid_image .vc_column_container.vc_col-sm-3 .qbutton { margin-right: 0 }


/* Footer
============================================ */

.footer_bottom .textwidget { padding: 10px 0 0 0 }

.footer_bottom p,
.footer_bottom span { margin: 0 0 10px 0 }

.footer_bottom .textwidget p a,
.footer_bottom .textwidget p a(:not.qbutton):hover,
.footer_bottom .textwidget p a:active,
.footer_bottom .textwidget p a:visited { color: #ffffff !important }

.footer_bottom .q_social_icon_holder .fa-stack { margin: 0 10px }
.footer_bottom .q_social_icon_holder { margin-top: 15px }

.footer_bottom,
.footer_summit_info,
.footer_summit_copyright {
	font-size: 14px;
	line-height: 18px;
}

.footer_summit_info,
.footer_summit_info a,
.footer_summit_copyright {
	color: #ffffff !important;
	padding: 0;
	margin: 0;
}

.footer_summit_copyright { color: #cccccc }

.footer_summit_logo {
	width: 200px !important;
	height: 74px !important;
}

.q_social_icon_holder.the_city a {
    height: 48px;
    width: 48px;
    overflow: hidden;
    background-color: transparent !important;
}

.q_social_icon_holder.the_city a span {
    height: 48px;
    width: 48px;
    border: none;
	background-image: url('./images/circle_social_the_city.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-color: transparent !important;
}

.q_social_icon_holder.the_city a:hover {
	background-color: #fff !important;
}

.footer_bottom .q_social_icon_holder.the_city a {
    height: 37px;
    width: 37px;
}

.footer_bottom .q_social_icon_holder.the_city a span {
    height: 37px;
    width: 37px;
}

.footer_bottom .aligncenter .qbutton.marginright { margin-right: 20px }


/* Relevanssi Search
============================================ */

.search .blog_holder article .post_text h2 .date,
.search .blog_holder article .post_info { display: none }


/* RefTagger Plugin (Bible Verses)
============================================ */

.rtTooltipHeader {
	background-color: #555555 !important;
	font-size: 16px !important;
	color: #eeeeee !important;
	font-family: 'lato_regular', sans-serif !important;
	line-height: 42px;
	height: 42px;
}

.rtTooltipSocial,
.rtTooltipFooter { display: none }

.rtTooltipBody {
	background-color: #cccccc !important;
	font-size: 14px !important;
	color: #ffffff !important;
	font-family: 'lato_regular', sans-serif !important;
	padding: 20px 20px 20px 15px !important;
}

.rtTooltipDropShadow .rtContainer {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}


/* Form Fields and Inputs
============================================ */

input[type='text'],
input[type='text'].inline_search_field,
textarea,
#respond textarea,
#respond input[type='text'],
.contact_form input[type='text'],
.contact_form textarea {
	width: 100%;
    margin: 0 0 20px 0;
    padding: 15px 12px;
    border: 0;
    outline: 0;
    resize: none;
    font-size: inherit;
    line-height: 17px;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fullscreen_search_holder .field_holder {
    margin: 0 10px;
    width: 60%;
}

.fullscreen_search_holder .search_field {
    margin: 0;
    padding: 0 10px;
}

.fullscreen_search_holder .search_submit { line-height: 42px }

/* Search Results Page */

.search subnav { display: none !important }

.search .title_subtitle_holder { padding-top: inherit !important }

.search-no-results .search_results_query .results_query_return h4,
.search-results .search_results_query .results_query_return h4 { margin-top: 20px }
.search-no-results .search_results_query .wpb_column,
.search-results .search_results_query .wpb_column { padding-left: 0; padding-right: 0; }

form.inline_search .form_holder {
	text-align: right;
    width: 100%;
}

form.inline_search .search_label {
	display: inline-block;
}

form.inline_search .field_holder {
	display: inline-block;
    width: 50%;
    margin: 0 10px;
}

form.inline_search a.search_submit {
	display: inline-block;
}


/* Custom Grid Loader
============================================ */


.vc_grid-loading:before {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.vc_grid-loading {
	margin: 0 auto;
	-webkit-animation-delay: 0.16s;
	animation-delay: 0.16s;
}

.vc_grid-loading:after {
	-webkit-animation-delay: 0.32s;
	animation-delay: 0.32s;
}

.vc_grid-loading:before,
.vc_grid-loading:after,
.vc_grid-loading {
	font-size: 6px;
}

.vc_grid-loading-bg {
	display: inline-block;
	position: relative;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    background-image: url('/wp-content/uploads/2015/08/the_city_horizontal.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.0em 0 -1.3em rgba(0, 0, 0, 0.25);
	}
	40% {
		box-shadow: 0 2.0em 0 0 rgba(0, 0, 0, 0.25);
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.0em 0 -1.3em rgba(0, 0, 0, 0.25);
	}
	40% {
		box-shadow: 0 2.0em 0 0 rgba(0, 0, 0, 0.25);
	}
}


/* Parallax Effects
============================================ */

section.parallax_section_holder.divider {
	margin: 0px;
    height: 300px !important;
    background-size: cover;
}

.full_width .parallax_section_holder.divider .parallax_content {
	position: relative;
    top: 50%;
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.full_width .parallax_section_holder.divider .parallax_content * { color: #ffffff !important }


/* Static Dividers
============================================ */

.full_width .divider {
	margin: 100px 0 50px;
	padding: 50px 0;
}

.full_width .divider .wpb_column { padding-bottom: 0 }


/* Media Queries ========================================================== */
	
	
	/* Global ========================================================== */
	
	.mobile_menu_button { display: none !important }

	@media 	only screen
			and (max-width: 1200px) {
			
			.header_inner_right {
				left: 0;
				right: 15px;
			}
			
			nav.main_menu.right {
			    visibility: hidden;
				opacity: 0;
			}
			
			.popup_menu_opened nav.main_menu.right {
				display: inline-block !important;
				position: fixed;
			    bottom: 0;
			    float: right;
			    width: 100%;
			    height: 50px;
			    text-align: center;
			    background-color: #333;
			    visibility: visible;
				opacity: 1;
			}
			.popup_menu_opened nav.main_menu.right > ul { display: inline-block }
			.popup_menu_opened nav.main_menu.right > ul > li > a { line-height: 50px !important }
			
			.side_menu_button_wrapper { float: right }
			
			.side_menu_button, .shopping_cart_inner { height: 80px !important }

			.q_logo { display: block }
			.q_logo a { left: 0 }
			.q_logo img { float: left }
			.side_menu_button>a { padding: 0 10px 0 0 }
			div.popup_menu_holder_outer { height: 100% !important }
			
			.logo_wrapper { height: inherit !important }
			
			.popup_menu_opened .q_logo img.mobile { opacity: 1 !important }
			
			nav.popup_menu ul li.has_sub { margin: 25px auto }
			nav.popup_menu ul li a,
			nav.popup_menu ul li h6 {
				font-size: 18px !important;
				line-height: 28px;
			}
						
			nav.popup_menu ul li ul li a,
			nav.popup_menu ul li a span {
				font-size: 14px !important;
				line-height: 28px;
			}
			
			.title_outer.with_image { max-height: 400px }
			
			.title_outer.with_image .title { max-height: 400px }
			
			.title_outer.with_image .title .header_bg { max-height: 400px }
			
			.title_outer.with_image .title .image { min-height: 400px }
			
			.title.title_size_large h1 {
				font-size: 60px !important;
				line-height: 60px !important;
			}
			
			.title .separator { display: block !important }
			
			.title_outer.with_image .title .title_subtitle_holder { padding-top: 30px !important }
						
			/* Interior Pages */
			
			.wpb_column.resources { margin-top: 40px }
			
			subnav .subnav_container {
				display: none;
				position: absolute;
			    left: 0;
			    top: 64px;
			    width: 100%;
			}
			
			subnav .subnav_container ul { display: block !important }
			subnav.mobile_open .subnav_container ul {
				display: block !important;
				width: 100%;
			}
			
			subnav.mobile ul li,
			subnav.mobile.mobile_open ul li { float: none }
			
			subnav.mobile ul li a,
			subnav.mobile ul.children li a { background-color: rgba(60, 60, 60, 0.98) }
			subnav.mobile ul li.current_page_item > a { background-color: rgba(140, 140, 140, 0.98) }
			
			subnav.mobile ul.children {
				position: relative;
			    top: 0;
		    }
			
			subnav.mobile ul li a,
			subnav.mobile .mobile_subnav_holder a { 
			    margin: 0 auto;
			    width: 100%;
			    padding: 20px 0;
		    }
			
			subnav.mobile .mobile_subnav_holder {
				display: table !important;
			    margin: 0 auto;
			    width: 100%;
			}
			
			subnav.mobile.mobile_open .mobile_subnav_holder a:before { content: "Close " }
			subnav.mobile.mobile_open .mobile_subnav_holder a i.close { display: inline-block }
			subnav.mobile.mobile_open .mobile_subnav_holder a i.open { display: none }
			
			body:not(.home) .vc_col-sm-6 { width: 50% !important }
			
			body:not(.home) .college-staff .vc_col-sm-6 { width: 100% !important }
			
			li.wpfc_grid_image { padding: 40px 0 30px }
						
			li.wpfc_grid_image img {
				min-width: 100%;
				margin-bottom: 20px;
			}
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-6 { width: 100% !important }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-6 > .vc_column-inner { padding-right: 0 }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-9 { padding-bottom: 30px }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-3 { padding-bottom: 0; text-align: left; }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-3 > .wpb_wrapper { padding-left: 0 }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-6 > .wpb_wrapper { padding-left: 0; padding-right: 0; }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-3 .qbutton { margin-right: 20px }
			
			nav.popup_menu > ul > li.has_sub {
				display: list-item;
			}
			
			.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item {
				clear: left;
			    width: 27%;
		        height: 220px;
			    margin: 0 2.6% 10px;
			    padding-left: 2.7%;
			    padding-right: 0;
			    padding-top: 10px;
			    padding-bottom: 10px;
			    border-left: solid 2px #ccc;
			    border-right: none;
			}
			
			.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item:first-child {
				margin-left: 0;
				padding-left: 0;
				border: none;
			}
			
			.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item:last-child { padding-right: 0 }
			
			.books .vc_gitem-post-data-source-post_excerpt .wpb_content_element .wpb_wrapper p { display: none }
			.books .qbutton#book { margin-top: 0 }
			.books .vc_custom_heading.vc_gitem-post-data h3 { margin-bottom: 0 !important }
			.books .vc_grid-item-zone-c-left .vc_gitem-zone-c { width: 40% }
			.books .vc_grid-item-zone-c-left .vc_gitem-animated-block { width: 60% }
			.vc_gitem-zone-a .vc_gitem-row-position-middle, .vc_gitem-zone-b .vc_gitem-row-position-middle {
			    position: relative;
				left: 0;
			    right: 0;
			    top: 0;
			    -webkit-transform: translate(0, 0);
			    -moz-transform: translate(0, 0);
			    -ms-transform: translate(0, 0);
			    -o-transform: translate(0, 0);
			    transform: translate(0, 0);			
			}
			
			/* Interior Pages - Missions */
			.missions_buttons .vc_column_container.vc_col-sm-4 { display: inline-block; width: 33.33333333%; }
			
			/* Starting Point - Manual Grid */ 			
			.wpb_row.starting-point {
			    margin-top: 0;
			    margin-bottom: 0 !important;
			}
			
			.vc_column_container > .vc_column-inner {
			    padding-left: 20px;
			    padding-right: 20px;
			}
			
			.qbutton.white#rsvp,
			.qbutton.white#rsvp:hover {
				position: relative;
			    top: 0;
			    right: 0;
			    margin-bottom: 10px;
			}
		    
		    .bible_wrapper .wpb_column .wpb_text_column .wpb_wrapper {
			    padding: 20px;
			    min-height: 80px;
			}
			
			.vc_column_container > .wpb_wrapper {
			    padding-left: 30px;
			    padding-right: 30px;
			}
			
			/* Footer */			
			.popup_menu_footer { display: none }
			
			form.inline_search .form_holder { text-align: left }
			
			.call_to_action .text_wrapper .call_to_action_text { text-align: left }
			
			/* Static Dividers */			
			.full_width .divider { margin: 0px }
			
		}
	
	
	/* Tablet - Portrait ========================================================== */

	@media 	only screen 
			and (min-width : 768px) 
			and (max-width : 1024px) 
			and (orientation : portrait) {
			
			/* Global Responsive */
			
			.home .vc_col-sm-6 { width: 100% }
			.container_inner { width: 680px }
			
			/* Fullscreen Menu */
			
			.header_bottom { padding: 30px 30px 0 }
	
			/* Full Screen Section */
						
			/* Homepage - Slider */
			
			.carousel-control .prev_nav { left: 10px }
			.carousel-control .next_nav { right: 10px }
			
			/* Interior Pages */
		
		}
	
	
	/* Tablet - Landscape ========================================================== */
	
	@media 	only screen
			and (min-width : 768px)
			and (max-width: 1024px)
			and (orientation : landscape) {
				
		}
	
	
	/* Mobile - Portrait ========================================================== */
	
	@media 	only screen
			and (max-width : 767px)
			and (orientation : portrait) {
				
			/* Global Responsive */
				
			h2, h2 a, .home h2, .home h2 a { font-size: 36px; line-height: 36px; }
			h3, h3 a, .home h3, .home h3 a { font-size: 28px; line-height: 28px; }
			h4, h4 a, .home h4, .home h4 a { font-size: 18px; line-height: 24px; }
			h5, h5 a, .home h5, .home h5 a { font-size: 14px; line-height: 14px; }
			h6, h6 a, .home h6, .home h6 a { font-size: 20px; line-height: 20px; }
			p, ol, ul { font-size: 16px; line-height: 26px; }
			
			ol, ul { margin-left: 30px }
			
			h2, h2 a { font-size: 36px; line-height: 36px; }
			h3, h3 a { font-size: 28px; line-height: 28px; }
			h4, h4 a { font-size: 21px; line-height: 24px; }
			h5, h5 a { font-size: 14px; line-height: 18px; }
			h6, h6 a { font-size: 20px; line-height: 20px; }
			p, ol, ul { font-size: 16px; line-height: 26px; }
			
			ol, ul { margin-left: 15px }
			.content ul ul,
			.content ol ol { padding-left: 0 }
		    
		    #back_to_top,
		    #back_to_top.on,
		    #back_to_top.off {
			    right: 15px;
			    bottom: 15px;
		    }
		    
		    #back_to_top span {
			    width: 40px;
			    height: 40px;
			    line-height: 40px;
			    -o-border-radius: 40px;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    border-radius: 40px;
			}
			
			#back_to_top span i {
			    font-size: 22px;
			    line-height: 32px
			}
			
			.full_width .wpb_row.full_width,
			.breadcrumb { display: none }
			
			/* Homepage - Latest Message */
			
			.home .wpfc_series_title,
			.home .wpfc_preacher {
				margin-bottom: 5px;
				margin-top: 0px;
			}
			
			/* Homepage - Slider */
			
			.full_screen:not(.advanced_responsiveness) .carousel-inner .slider_content { height: auto }
			.carousel:not(.advanced_responsiveness) .carousel-inner h2,
			.carousel:not(.advanced_responsiveness) .carousel-inner h2 span {
			    line-height: 40px !important;
			}
			
			.carousel-inner .slider_content_outer {
				top: 0;
				height: 100%;
			}
			
			/* Interior Pages */
			
			.fullscreen_search_holder .search_field,
			.fullscreen_search_holder .search_field:focus {
			    font-size: initial !important;
			}
							
			.fullscreen_search_holder .search_label {
				width: 100%;
				display: inline-block;
			}
			
			.fullscreen_search_holder .field_holder { width: 70% }
			
			.container_inner,
			body:not(.search) .content .container .container_inner,
			body:not(.home) .full_width .full_width_inner:not(.messages),
			.content .container .container_inner.page_container_inner,
			.content .container .container_inner { padding: 30px 0 }
			
			.wpb_text_column p:last-child,
			#content .wpb_text_column p:last-child { margin-bottom: 20px }
			
			.social-row { margin-top: 0 }
			
			.social-row .wpb_column { padding-bottom: 0px }
			
			.title.title_size_large h1 {
				font-size: 50px !important;
				line-height: 50px !important;
			}
			
			/* Interior Pages - Missions */
			.missions_buttons .vc_column_container.vc_col-sm-4 { display: inline-block; width: 100%; }
			.missions_buttons .vc_column_container:first-child > .vc_column-inner,
			.missions_buttons .vc_column_container > .vc_column-inner,
			.missions_buttons .vc_column_container:last-child > .vc_column-inner { padding-left: 30px; padding-right: 30px }
			
			/* Stories */
			
			.content .container .container_inner.stories { padding: 30px 0 0 0 !important }

			.stories .blog_holder article { margin: 0 0 30px }
			
			.stories .blog_holder.blog_large_image_with_dividers article .post_text .post_text_inner { padding: 35px 0 0 0 }
			
			.stories .blog_holder article .post_image { height: auto }
			
			aside { text-align: center }
			aside .qbutton { margin: 0 0 20px 0; }
						
			/* Full Screen Section */
			
			.boxed .section .section_inner,
			.grid_section .section_inner { margin: 50px auto }
			.full_width .full_width_inner .grid_section .section_inner { margin: 0 auto }

		    .home .wpfc_grid_image { width: 30% }
			
			.vc_row.full_screen_section { padding: 0 }
			
			body:not(.home) .vc_col-xs-12 { width: 100% !important }
			
			.campus-grid .vc_grid.vc_row .vc_grid-item { padding-right: 0 }
			.starting-point .vc_grid.vc_row .vc_grid-item { padding-right: 25px }
									
			.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item {
				clear: left;
		        width: 100%;
	            height: 160px;
			    margin: 0 0 20px 0;
			    padding-left: 0;
			    padding-right: 0;
			    padding-top: 10px;
			    padding-bottom: 10px;
			    border-left: none;
			    border-right: none;
			}
			
			.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item:first-child {
				margin-left: 0;
				padding-left: 0;
				border: none;
			}
			
			.campus-events .the_city_plaza_widget .tc_wp_content .tc_wp_item:last-child { padding-right: 0 }
			
			.vc_gitem_row .vc_gitem-col { padding: 30px 30px 0 }
			
			/* Cary Campus Stories */			
			.rpwwt-widget ul li { width: 46% }
			
			.rpwwt-widget ul li,
			.rpwwt-widget ul li:first-child,
			.rpwwt-widget ul li:last-child { margin: 0 2% !important }
			
			/* Fullscreen Menu */
			
			.header_bottom { padding: 0 15px 0 }
			nav.popup_menu ul li.has_sub h6 .separator.small { margin-bottom: 10px }
			
			.side_menu_button>a.popup_menu { margin-left: 15px }
			.side_menu_button>a.popup_menu .menu-title {
				opacity: 0;
				left: 0;
			}
			
			.call_to_action .column2.button_wrapper .qbutton { margin: 0 0 20px 0 !important }
			
			.full_width .vc_row, .vc_grid.vc_row {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
			.vc_grid.vc_row .vc_pageable-slide-wrapper { margin-right: 0 !important }
			.vc_grid.vc_row .vc_grid-item { padding-right: 0 !important;  }
			
			.wpfc_sermon_single .wpb_row { margin-bottom: 30px !important }
			
			.wpfc_sermon_player .wpfc_sermon-video { margin: 40px 0 0 }
			
			body:not(.home) .bible_container .wpb_column { padding-left: 0; padding-right: 0; }
			
		    .bible_wrapper .wpb_column { padding: 0 }
			
			/* Static Dividers */
			
			.full_width .divider h1 {
				font-size: 50px;
				line-height: 60px;
			}
			
			.vc_text_separator.full.separator_align_center { display: inline }
				
			.page-template-bible .vc_text_separator.full.separator_align_center { display: inline-block }
			
			.vc_text_separator.full div {
				padding: 0;
			    margin-bottom: 20px;
			    width: 100%;
			}
							
		}
	

	/* Mobile - Portrait (iPhone 6 - Medium Size) ========================================================== */

	@media 	only screen 
			and (max-width : 480px)
			and (orientation : portrait) {
			
			/* Homepage - Portfolio Masonry Gallery
			============================================ */
			
			.container_inner, .boxed div.section .section_inner, div.grid_section .section_inner,
		    .full_width .parallax_content, .steps_holder_inner, .carousel-inner .slider_content_outer,
		    nav.content_menu, body.boxed .wrapper_inner, body.boxed footer, body.boxed .header_inner,
		    body.boxed .full_width .parallax_content, body.boxed .carousel-inner { width: 340px }
			
			.projects_masonry_holder .text_holder { bottom: 20px }
			
			body:not(.home) .full_width .grid_section .section_inner,
			body:not(.home) .vc_row.starting-point.grid_section .section_inner { width: 100%; }
			
			body:not(.home) .full_width .campus-grid .wpb_column,
			body:not(.home) .full_width .leadership-grid .wpb_column,
			body:not(.home) .full_width .college-staff .wpb_column {
				padding-left: 0 !important;
			    padding-right: 0 !important;
			}
			
			.wpb_row {
			    margin-top: 20px;
			    margin-bottom: 40px !important;
		    }
			
			.home .qbutton:not(.alignleft),
			.qbutton(.alignleft) {
				display: table;
				margin: 0 auto 20px !important;
			}
			
			.books .qbutton,
			.wpb_column.resources .qbutton {
				display: inline-block;
			    margin: 0 20px 20px 0;
			    text-align: left;
			}
			
			.home .qbutton.alignleft,
			.alignleft { margin: 0 20px 20px 0 !important }
			
			.aligncenter .qbutton { margin: 0 auto 20px }
			
			div.alignleft,
			div.alignright,
			img.alignleft,
			img.alignright {
				float: left;
				margin: 0;
				padding-bottom: 20px;
				width: 100% !important;
			}
			
			div.alignleft img,
			div.alignright img {
				width: 100% !important;
			}
			
			.campus-grid .vc_gitem-post-data .qbutton { display: inline-block }
		    
		    li.wpfc_grid_image { padding: 30px 0 10px }
			
			li.wpfc_grid_image:first-child { padding: 30px 0 10px }
			
			li.wpfc_grid_image:last-child { padding: 30px 0 10px }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-9 { padding-bottom: 30px }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-3 { padding-bottom: 0; text-align: left; }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-3 > .wpb_wrapper { padding-left: 0 }
			
			li.wpfc_grid_image .vc_column_container.vc_col-sm-3 .qbutton { margin-right: 20px }
			
			.students-ms-weekly .wpb_row {
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
			
			.footer_summit_info .phone { display: inline-block }
			.footer_summit_info .divider { display: none }
			.footer_bottom .q_social_icon_holder .fa-stack { margin: 0 5px }
			
			.title .qbutton.marginright { margin: 0 20px 20px 20px }
			
			#wpfc_sermon_sorting > span { display: inline-block; width: 100%; }
			
			/* Cary Campus Stories */			
			.rpwwt-widget ul li { width: 100% }
			
			.rpwwt-widget ul li,
			.rpwwt-widget ul li:first-child,
			.rpwwt-widget ul li:last-child { margin: 0 0 20px !important }
			
			#rpwwt-recent-posts-widget-with-thumbnails-2 img { max-width: 100% !important }
		
		}


	/* Mobile - Portrait (iPhone 5 - Small Size) ========================================================== */

	@media 	only screen
			and (max-width : 350px) {

			/* Global Responsive
			============================================ */
			
		    .container_inner, .boxed div.section .section_inner, div.grid_section .section_inner,
		    .full_width .parallax_content, .steps_holder_inner, .carousel-inner .slider_content_outer,
		    nav.content_menu, body.boxed .wrapper_inner, body.boxed footer, body.boxed .header_inner,
		    body.boxed .full_width .parallax_content, body.boxed .carousel-inner {
		        width: 280px;
		    }
		
		    body.boxed .footer_inner {
		        width: 100%
		    }
			
			/* Header
			============================================ */
			
			.fullscreen_search_holder .close_container .search_close_holder {
				margin-top: 0px;
				margin-right: 20px;
			}
			
			nav.main_menu > ul > li > a { padding: 0 12px }
					    
			/* Interior Pages
			============================================ */
						
			.wpb_column.resources { margin-top: 40px }
			
		    .section_inner_margin, .parallax_section_inner_margin { margin: 0 }
		    
		    .qbutton.white#time { padding: 0 4px }
			
			.starting-point .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_link,
			.starting-point .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date,
			.starting-point .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_time { font-size: 90% }

			.starting-point .vc_gitem-post-data.vc_gitem-post-data-source-post_title div,
			.campus-grid .vc_gitem-post-data.vc_gitem-post-data-source-post_title div { font-size: 110% !important }
			
			.short-term .the_city_plaza_widget .tc_wp_content .tc_wp_item .tc_wp_date { margin-right: 20px }
		    
		}
	
	
	/* Mobile - Landscape ========================================================== */
	
	@media 	only screen
			and (min-width : 375px) 
			and (max-width : 667px)
			and (orientation : landscape) {
				
			
				
		}
	
	
	
		
/* Media Queries (Device) ========================================================== */

	/* Tablet - Portrait (Device) ========================================================== */
	
	@media 	only screen 
			and (min-device-width : 768px)
			and (max-device-width : 1024px)
			and (orientation : portrait) {
							
	}
	
	/* Tablet - Landscape (Device) ========================================================== */
	
	@media 	only screen
			and (min-device-width : 768px)
			and (max-device-width: 1024px)
			and (orientation : landscape) {
			
				
	}
	
	/* Mobile - Portrait (Device) ========================================================== */
	
	@media 	only screen
			and (min-device-width : 375px) 
			and (max-device-width : 667px)
			and (orientation : portrait) {
				
			/* Header
			============================================ */

			.fullscreen_search_table {
				position: relative;
				top: 100px;
				width: 80%;
				margin: 0 auto;
			}
			
			.fullscreen_search_holder .field_holder {
				width: 90%;
				margin: 0;
			}
			
			.fullscreen_search_holder .search_label {
				font-size: inherit;
				width: 70%;
				position: absolute;
				margin: 0;
				text-align: left;
			}
			
			.fullscreen_search_holder .search_field {
			    font-size: initial;
			}
			
			fullscreen_search_holder .search_submit {
				position: relative;
				bottom: 10px;
				left: 10px;
			}
			
			.side_menu_close_button > a.side_menu_close:hover,
			.side_menu_button > a.fullscreen_search_close:hover { background-color: transparent }
			
			.side_menu_close_button > a.side_menu_close:hover .line:before,
			.side_menu_button > a.fullscreen_search_close:hover .line:before,
			.side_menu_close_button > a.side_menu_close:hover .line:after,
			.side_menu_button > a.fullscreen_search_close:hover .line:after {
				-webkit-transition: none;
				-moz-transition: none;
				-ms-transform: none;
				-o-transition: none;
				transition: none;
			}
			
			.side_menu_close_button > a.side_menu_close:hover .line:before,
			.side_menu_button > a.fullscreen_search_close:hover .line:before {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			
			.side_menu_close_button > a.side_menu_close:hover .line:after,
			.side_menu_button > a.fullscreen_search_close:hover .line:after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			
			body:not(.home) .grid_section {
				margin-left: -17.5px;
				margin-right: -17.5px;
			}
							
	}
	
	/* Mobile - Landscape (Device) ========================================================== */
	
	@media 	only screen
			and (min-device-width : 375px) 
			and (max-device-width : 667px)
			and (orientation : landscape) {
				
			
				
	}